<!DOCTYPE html>
<html lang="en">
{{>header}}
<body>
    {{>navbar}}
    <h1>Welcome</h1>
    <div>firstname: {{userdata.firstname}}</div>
    <div>lastname: {{userdata.lastname}}</div>
    <div>email: {{userdata.email}}</div>
{{>footer}}